    * {
        box-sizing: border-box;
    }
    
    .dropdown {
        margin: 16px;
        display: inline-block;
        background-color: darkgreen;
        color: white;
        font-size: 16px;
        cursor: pointer;
        opacity: 0.8;
        padding: 16px;
        position: relative;
    }
    
    .menu-list {
        position: absolute;
        margin: 0;
        padding: 0;
        background-color: lightcyan;
        color: black;
        display: none;
        min-width: 120px;
        list-style-type: none;
        box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        top: 50px;
        left: 0;
    }
    
    .menu-item {
        padding: 16px;
    }
    
    .dropdown:hover {
        opacity: 1;
    }
    
    .dropdown:hover .menu-list {
        display: block;
    }
    
    .menu-list:hover {
        background-color: ghostwhite;
    }
    /*
Dropdown menu
 По умолчанию элементы меню должны быть спрятаны. И показываться только при наведении мыши на элемент 
с текстом 'Hover me'
Установите внутренние отступы для кнопки 16px и цвет фона darkgreen с прозрачностью 0.8 по умолчанию. 
При наведении устанавливайте прозрачность 1. Размер шрифта - 16px. Белый цвет шрифта
Используйте курсор - pointer
Всему дропдауну задайте внешний отступ 16px
Списку меню обнулите все отступы, задайте цвет фона lightcyan, цвет текста black и добавьте тень 
(box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);). Минимальная ширина выпадающего меню должна быть 120px.
 Задайте z-index 1, чтобы меню выпадало над остальным контентом
Элементы списка дожны иметь внутренние отступы 16px. Не забудьте убрать точки перед элементами списка
При наведении мыши элементы списка дожны менять фон на ghostwhite*/