* {
    box-sizing: border-box;
}

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #555;
    font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    align-items: center;
}

.header {
    background-image: linear-gradient(60deg, red, orange);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.header h1 {
    color: white;
}

.main {
    display: flex;
    margin-bottom: auto;
    flex-direction: column;
    justify-content: center;
}

.newpicture {
    margin: auto;
}

img {
    max-width: 100%;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}

.navigation {
    width: 100%;
    padding: 0.5em;
}

.section {
    width: 100%;
    font-size: 1.25em;
    padding: 0.5em;
}

.section__header {
    font-size: 5vw;
    text-align: center;
}

.units-list {
    line-height: 1.75em;
}

.nav-list {
    padding: 0;
    list-style-type: none;
}

.nav-list-item {
    background-color: #808080;
    height: 2em;
    line-height: 2em;
    margin-bottom: 0.5em;
}

.nav-list-link {
    padding-left: 0.5em;
    padding-right: 0.5em;
    display: inline-block;
    width: 100%;
    color: white;
    text-decoration: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.css-units {
    color: #8b0000;
    background-color: #e5e5e5;
    font-size: 1.125em;
    font-weight: 700;
}

.news {
    width: 100%;
    padding: 0.5em;
}

.footer {
    background-color: #e5e5e5;
    padding: 0.5em;
    text-align: center;
    width: 100%;
}

@media screen and (min-width: 600px) {
    .main {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .navigation {
        width: 20%;
    }
    .section {
        width: 80%;
    }
    .news {
        width: 100%;
    }
}

@media screen and (min-width: 900px) {
    .main {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .navigation {
        width: 20%;
    }
    .section {
        width: 60%;
    }
    .news {
        width: 20%;
    }
}


/*Основные требования:
Нужно добавить изображение на главной секции и сделать так, чтобы страница подстраивалась под ширину экрана.

Основные требования:
Добавьте изображение под хедером. При ширине экрана до 600px должна отображаться картинка small.png, а при 600px и больше - big.png
Картинки должны растягиваться по ширине, но не больше своей оригинальной ширины. Дайте картинке тень 0px 4px 8px 0px rgba(0, 0, 0, 0.2)
При ширине экрана до 600px все секции должны располагаться одна под другой в колонку и занимать всю ширину каждая
При ширине экрана 600px и до 900px - навигация и основная секция должны быть в одной строке. При чем навигация должна занимать 20% ширины, а все остальное - основная секция. Новости должны располагаться под первыми двумя и растягиваться на всю ширину
При ширине экрана 900px и больше - три секции должны располагаться в одну линию. Навигация должна занимать 20% ширины экрана, основная секция - 60%, новости - 20%*/