html {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

section {
    margin: 32px;
}

h1 {
    word-spacing: 20px;
    text-transform: uppercase;
    text-align: center;
}

p {
    line-height: 28px;
}

.technology {
    font-weight: 700;
    letter-spacing: 3px;
    font-size: 24px;
    opacity: 80%;
    text-decoration: underline;
    font-weight: bold;
}

.translation {
    color: grey;
    font-style: oblique;
}

a {
    text-decoration: none;
}


/*
Свойства текста
 
Начальный HTML код находится в редакторе ниже. Его можно модифицировать. 
Для добавления стилей используйте styles.css

Задайте всему содержимому страницы внешние отступы 32px;
Подключите шрифт Roboto и установите его для всей страницы. Вторым по приоритету пускай будет sans-serif. 
Размер шрифта 18px.
Задайте заголовку расстояние между словами 20px, отобразите по центру страницы и заглавными буквами.
Задайте параграфам высоту строки 28px
Слова HTML и CSS (которые в начале параграфов) нужно:

выделить "Жирным"
задать расстояние между буквами 3px
размер шрифта 24px
прозрачность 80%
подчеркнуть линией
Уберите подчеркивание со ссылки
Перевод на англ. отобразите курсивом и серым цветом
*/