.square {
    width: 100px;
    height: 100px;
    background-color: tomato;
    transform: translate(200px, 100px) rotate(45deg) scale(1.5);
}


/*
2D трансформации
 
С помощью CSS трансформаций измените положение и форму элемента

Визуализация задания в файле example.png

Начальный HTML код находится в редакторе ниже. Его можно модифицировать. 
Для добавления стилей используйте styles.css

Основные требования:
Задайте квадрату ширину и высоту по 100px, цвет фона tomato
Сместите квадрат на 200px вправо и на 100px вниз
Поверните на 45deg
Увеличьте в 1.5 раза*/