* {
    font-family: Verdana;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header h1 {
    font-size: 74px;
    text-align: center;
    margin: 0px auto;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 50%;
}

div {
    height: 200px;
    background-color: coral;
    color: white;
    text-align: center;
    text-transform: uppercase;
    line-height: 200px;
}


/*Выравнивание текста
 
Начальный HTML код находится в редакторе ниже. HTML должен оставаться неизменным. Для добавления стилей используйте styles.css

Основные требования:
Задайте документу шрифт Verdana
Текст хедера должен быть 74px, занимать половину ширины страницы и располагаться по центру по горизонтали. 
Всерху и снизу добавьте внешние отступы 16px. Должен обрезаться с помощью троеточия
Задайте элементу <div> высоту 200px и цвет фона coral
Задайте тексту внутри <div> белый цвет, отрисуйте его заглавными буквами, отцентрируйте его по горизонтали
Задайте тексту внутри <div> высоту строки 200px*/