.static-parent {
    position: static;
}

.relative-parent {
    position: relative;
    left: 50px;
    top: 20px;
}

.absolute-parent {
    position: absolute;
    right: 50px;
    bottom: 20px;
}

.fixed-parent {
    position: fixed;
    left: 30px;
    bottom: 20px;
}


/*
Плавающие (float) элементы
 
Начальный HTML код находится в редакторе ниже. HTML должен оставаться неизменным. Для добавления стилей используйте styles.css

Элемент с классом static-parent должен иметь статическое позиционирование.
Элемент с классом relative-parent должен иметь относительное позиционирование. Сместите его на 20px вниз и на 50px вправо относительно изначальной позиции
Элемент с классом absolute-parent должен иметь абсолютное позиционирование. Задайте ему отступ снизу 20px и справа 50px
Элемент с классом fixed-parent должен иметь фиксированное позиционирование. Задайте ему отступ снизу 20px и слева 30px
Читайте текст на странице. Там полезная теория ;)
*/