.image {
    width: 200px;
    height: 200px;
    display: inline-block;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.image:last-child {
    background-size: auto 100%;
}


/*Еще одна галерея ;)
 
Начальный HTML код находится в редакторе ниже. HTML должен оставаться неизменным. 
Для добавления стилей используйте styles.css

Результат должен быть, как на картинке example.jpg

Основные требования:
Расположите элементы с классом .image горизонтально в линию и задайте им высоту и ширину равную 200px
Элементам уже заданы фоновые изображения через атрибут style. Ваша задача расположить картинки так, 
чтобы полностью помещались в див и не искажали пропорции (смотрите пример)
*/