* {
    box-sizing: border-box;
}

.header-text {
    margin: 0;
    padding: 16px;
    text-align: center;
    text-transform: uppercase;
    font-family: Arial, sans-serif;
    font-weight: 700;
    font-size: 96px;
    background: linear-gradient(45deg, yellow, red);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}


/*Градиент как цвет текста
 
Задача - закрасить текст с помощью градиента


Начальный HTML код находится в редакторе ниже. Его можно модифицировать. 
Для добавления стилей используйте styles.css

Помним, что у этого приема ограниченная поддержка браузеров, которую можно глянуть здесь

Основные требования:
Нормализуем CSS
Обнулить внешние отступы и задать внутренние 16px для заголовка
Разместить текст в центре по горизонтали и отобразить в UPPERCASE
Шрифт - Arial, насыщенность - 700, размер шрифта - 96px
Цвет шрифта должен быть градиентом от желтого к красному под углом 45 градусов*/