* {
    box-sizing: border-box;
}

.container {
    width: 50%;
    float: left;
}

.red {
    float: right;
    background-color: red;
}

.green {
    float: left;
    background-color: green;
}

.footer {
    border: 2px solid black;
    height: 30px;
    clear: both;
}


/*
Clearfix - очистка плавающих элементов
 
Начальный HTML код находится в редакторе ниже. HTML должен оставаться неизменным. Для добавления стилей используйте styles.css Результат должен быть как на картинке

Разместите два элемента с классом .container по горизонтали и дайте каждому по 50% ширины экрана. Не забывайте про свойство box-sizing, которое влияет на рассчет ширины элемента.
Опишите классы .red и .green, чтобы расположение этих квадратов соответствовало картинке-примеру.
Опишите класс .footer, чтобы задать правильное расположение футеру
*/