            * {
                box-sizing: border-box;
            }
            
            table {
                margin: 16px;
            }
            
            table,
            td {
                border: 1px solid black;
                border-collapse: collapse;
            }
            
            td {
                height: 50px;
                width: 50px;
                text-align: center;
            }
            
            tr:nth-child(even)>td:nth-child(odd) {
                background-color: black;
            }
            
            tr:nth-child(odd)>td:nth-child(even) {
                background-color: black;
            }
            
            .letters td {
                background-color: white !important;
                border: none;
            }
            
            .desk td:first-child,
            .desk td:last-child {
                background-color: white !important;
                border: none;
            }