.row {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
}

.small-bird {
    width: 64px;
    height: 64px;
}

.large-bird {
    width: 320px;
    height: 320px;
}


/*
Базовое использование

Сравним растровое изображение в формате .png с .svg форматом

Визуализация задания в файле example.png

Начальный HTML код находится в редакторе ниже. Его можно модифицировать.
 Для добавления стилей используйте styles.css

Основные требования:
Строка должна занимать всю ширину, а колонки делить всю ширину пополам.
Большую картинку разместите под маленькой и отцентрируйте их по горизонтали внутри колонки
Маленькая картинка должна быть 64х64 px
Большая картинка должна быть 320х320 px

*/