    * {
        box-sizing: border-box;
    }
    
    html {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: #555;
        font-size: 16px;
        height: 100%;
    }
    
    body {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    
    .header {
        background: linear-gradient(60deg, red, orange);
        flex: 0 0 auto;
    }
    
    .header h1 {
        text-align: center;
        color: white;
    }
    
    .main {
        flex: 1 0 auto;
        display: flex;
    }
    
    .navigation {
        width: 20%;
    }
    
    .section {
        width: 60%;
        font-size: 1.25em;
    }
    
    .section__header {
        font-size: 5vw;
        text-align: center;
    }
    
    .units-list {
        line-height: 1.75em;
    }
    
    .nav-list {
        padding: 0;
        list-style-type: none;
    }
    
    .nav-list-item {
        background-color: #808080;
        height: 2em;
        line-height: 2em;
        margin: 0.5em;
    }
    
    .nav-list-link {
        padding-left: 0.5em;
        padding-right: 0.5em;
        display: inline-block;
        width: 100%;
        color: white;
        text-decoration: none;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    
    .css-units {
        color: #8b0000;
        background-color: #e5e5e5;
        font-size: 1.125em;
        font-weight: 700;
    }
    
    .news {
        width: 20%;
    }
    
    .footer {
        background-color: #e5e5e5;
        flex: 0 0 auto;
        padding: 0.5em;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: auto;
    }
    /*Основные требования:
Не забываем нормализовать стили и старый добрый box-sizing
Документу (тегу <html>) задайте шрифт Verdana, цвет шрифта #555 и размер шрифта 16px
Заголовок по центру и белого цвета. Используйте стандартные размеры тега <h1>. 
Цвет фона - линейный градиент под углом 60 градусов от red до orange
Футер прижат к нижней части странице. И это не position: fixed =) Используем Flexbox. Цвет фона #e5e5e5. 
Внутренние отступы 0.5em.
Навигация, основная секция и новости имеют внутренние боковые отступы по 0.5em и 
 по ширине соответственно 20%, 60% и 20%
Размер шрифта содержимого основной секции установите в 1.25em
Список в основной секции должен иметь высоту линии 1.75em
Элементы .css-units должны иметь #8b0000 цвет шрифта и #e5e5e5 цвет фона. 
Размер шрифта должен быть в 1.125 больше текущего и иметь насыщенность 700
Заголовку .section__header задайте размер шрифта равный 5 процентам от ширины окна 
браузера и разместите его по центру
Из списка в навигации уберите стандартные paddings и точки перед элементами списка.
Каждый элемент списка имеет #808080 цвет фона, белый шрифт и высоту 2em. Отступ между элементами меню - 0.5em.
Ссылка должна занимать весь! элемент навигации. Текст ссылки должен отступать от края элемента на 0.5em.
Ссылка должна быть без стандартного подчеркивания и белого цвета.
При уменьшении ширины текст ссылки не должен выходить за границы элемента меню и в конце должно появляться троеточие*/