.list {
    list-style-type: none;
    font-size: 1.5em;
}

.second {
    text-decoration: line-through;
}

.third {
    text-decoration: underline green;
}

.first {
    text-decoration: overline red;
}


/*Списки
 
Начальный HTML код находится в редакторе ниже. HTML должен оставаться неизменным. 
Для добавления стилей используйте styles.css
Основные требования:
Уберите точки перед элементам списка
Размер шрифта элементов списка должен быть в 1.5 раза больше, чем размер шрифта секции, 
где он находится (используйте относительные величины)
Подчеркните последный элемент списка зеленой линией
Зачеркните второй элемент списка
Отобразите красную линию над первым элементом списка*/