.block {
    width: 100px;
    height: 100px;
    flex-shrink: 0;
    flex-grow: 1;
}

.container {
    display: flex;
    flex-wrap: wrap;
}


/*
Размеры элементов и многострочность
 HTML_CSS  Урок 10. Flexbox
Начальный HTML код находится в редакторе ниже. HTML должен оставаться неизменным. 
Для добавления стилей используйте styles.css

Задайте элемента с классом .block высоту 100px
Элементы должны располагаться по горизонтали и заполнять всю ширину
Каждый блок должен рстягиваться по ширине, но не сжиматься меньше 100px (минимальная ширина блока должна быть 100px).
Если блоки не помещаются в строку - они должны перемещаться в следующую линию 
(при этом сохранив минимальную ширину 100px)

*/