* {
    box-sizing: border-box;
}

.mountains {
    width: 300px;
    height: 500px;
    background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+13/task1/nature.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    text-align: center;
}

.text {
    font-size: 32px;
    font-weight: 700;
    color: white;
    margin-top: 32px;
    text-align: center;
}


/*

Установить изображение как фон элемента

Начальный HTML код находится в редакторе ниже. Его можно модифицировать. 
Для добавления стилей используйте styles.css

Основные требования:
Нормализовать стили с помощью normalize.css
Элененту <div> необходимо задать ширину 300px и высоту 500px
Установить картинку nature.png как фон, при этом картинка должна размещаться по центру 
и обрезаться по горизонтали (справа и слева). По высоте картинка должна точно соответствовать высоте элемента
Тексту задать:

Размер шрифта 32px
Насыщенность текста равную 700
Цвет шрифта должен быть градиентом
Цвет шрифта должен быть белым
Отступ сверху 32px
Разместить текст по центру блока (text-align: center;)

*/