html {
    font-size: 18px;
}

.properties-list {
    color: #f39;
    font-size: 24px;
    line-height: 32px;
    list-style-type: none;
}

.properties-list__item {
    padding: 8px;
}


/*Наследование CSS свойств

Стилизуйте список. Начальный HTML код находится в редакторе ниже. HTML должен оставаться неизменным. Для добавления стилей используйте styles.css

Основные требования:
Задайте всему документу размер шрифта 18px
Задайте элементам списка цвет текста #f39, размер шрифта 24px, высоту строки 32px и внутренние отступы 8px
Уберите точки перед элементами списка*/