.navigation {
    height: 200px;
    background-color: #ff7f50;
    display: flex;
    width: 100%;
}

.products-list {
    height: 200px;
    background-color: #006400;
    display: flex;
    width: 100%;
}

.news {
    height: 200px;
    background-color: #0ff;
    display: flex;
    width: 100%;
}

span {
    text-transform: lowercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #faebd7;
    border-radius: 4px;
    margin: auto;
    padding: 8px;
}

@media screen and (min-width: 600px) {
    .products {
        display: flex;
    }
}

@media screen and (min-width: 900px) {
    .content {
        display: flex;
    }
    .products {
        flex: 2;
    }
    .news {
        flex: 1;
    }
}