* {
    box-sizing: border-box;
}

.icon {
    width: 100px;
    height: 100px;
    margin: 100px;
    background-position-x: -200px;
    background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+13/task2/sprites.png);
}

.icon:hover {
    background-position-y: -100px;
    background-position-x: -200px;
}


/*Спрайты изображений
 
Использовать изображения спрайта, чтобы изменять иконку при наведении мыши на элемент

Основные требования:
Добавьте на страницу <div> с классом icon
Нормализовать стили с помощью normalize.css
Сделайте наружные отступы 100px для элемента
Используйте картинку Youtube из первой строчки по умолчанию
Используйте картинку Youtube из второй строчки при наведении*/