* {
    box-sizing: border-box;
}

.container {
    margin: 32px;
}

.rect {
    margin-bottom: 16px;
    background-color: coral;
    width: 100px;
    height: 100px;
    opacity: 0.5;
    text-align: center;
    line-height: 100px;
    transition: width 2s, opacity 0.5s;
}

.rect:hover {
    opacity: 1;
    width: 100%;
}

.linear {
    transition-timing-function: linear;
}

.ease {
    transition-timing-function: ease;
}

.ease-in {
    transition-timing-function: ease-in;
}

.ease-out {
    transition-timing-function: ease-out;
}

.ease-in-out {
    transition-timing-function: ease-in-out;
}


/*
Плавные переходы
 HTML_CSS  Урок 19. Анимация
Применяем плавное изменение CSS свойств

Визуализация задания в файле example.png

Начальный HTML код находится в редакторе ниже. Его можно модифицировать. Для добавления стилей используйте styles.css

Основные требования:
Задайте контейнеру внешний отступ 32px, а всем квадратам нижний отступ 16px.
Как бы там ни было, не забываем про box-sizing
Фон квадрата сделайте coral, а текст внутри отценирируйте. Прозрачеость квадратов по умолчанию равна 0.5
Квадратам задайте ширину и высоту 100px. При наведении (hover) на квадрат, его ширина должна вырасти до 100% за 2s, а прозрачность измениться на 1 за 0.5s
Используйте timing-function в соответствии с текстом внутри квадрата*/